# ── Servidor ──────────────────────────────
PORT=3000

# ── Base de datos ─────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin1234
DB_NAME=ticket_db

# ── JWT ───────────────────────────────────
JWT_SECRET=superadmin123456789#
JWT_EXPIRES_IN=8h

# ── Entorno ───────────────────────────────
NODE_ENV=development
